@import "./colors";
@import "./mixins";

#contact {
  margin: 2rem 0 0 0;
  padding: 1rem 0;
  background-color: $darkBlue;
  color: $white;

  .head {
    margin: 1rem 0 0 0;
    padding: 0 1rem;

    @include tablet-upwards {
      margin: 0 3rem;
    }

    @include big-desktop {
      padding: 0 4rem;
    }

    hr {
      border-width: 2px;
      background-color: $lighBlue;
    }

    h3 {
      width: fit-content;
      padding: 0 8px;
      margin: -1.75rem auto 0.5rem auto;
      font-size: 18px;
      font-weight: 500;
      background-color: $darkBlue;

      @include tablet-upwards {
        margin: -1.75rem 0 0.5rem 1rem;
      }
    }
  }

  .tel_container {
    margin: 1rem 0 0 0;

    @include tablet-upwards {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0 4rem;
    }

    @include desktop {
      justify-content: flex-start;
    }

    @include big-desktop {
      padding: 0 3rem;
    }

    .tel {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include tablet-upwards {
        align-items: flex-start;
        font-size: 1rem;
      }

      a {
        text-decoration: none;
      }

      .mail {
        color: $white;
      }

      .phone {
        padding: 0.5rem 2rem;
        margin: 1rem 0;
        background-color: $white;
        color: $darkBlue;
        font-weight: 600;

        @include desktop {
          padding: 0.25rem 2.5rem;
          font-weight: 500;

          transition: all ease 0.25s;

          &:hover {
            background-color: $lighBlue;
            color: $white;
          }
        }
      }

      p {
        font-weight: normal;

        i {
          margin: 0 0.5rem 0 0;
        }
      }
    }
  }

  ._copy {
    @include desktop {
      margin: 0 0 0 8rem;
    }

    #logo_footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      margin: 0 auto;

      @include tablet-upwards {
        flex-direction: row;
        align-items: flex-start;
      }

      img {
        width: 7.5rem;
        height: 7.5rem;
        margin: 0 4px 0 0;
      }

      p {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet-upwards {
          align-items: flex-start;
          margin: 0 0 0 0 1rem;
        }

        span {
          font-size: 14px;
          text-transform: uppercase;
        }

        & :nth-child(1) {
          text-transform: capitalize;
          font-size: 24px;
          color: $lighBlue;

          @include desktop {
            font-weight: 600;
            font-size: 1.25rem;
          }
        }

        & :nth-child(2) {
          color: $white;
        }
      }
    }

    .copy {
      text-align: center;

      @include tablet-upwards {
        margin: 1.25rem 0 0 0;
        text-align: left;
      }

      @include desktop {
        font-size: 14px;
      }
    }
  }
}
