.location {
  .head {
    @include tablet-upwards {
      margin-bottom: 1.75rem;
    }

    hr {
      border-width: 2px;
    }

    h3 {
      width: fit-content;
      padding: 0 4px;
      margin: -1.75rem auto 0.5rem auto;
      font-size: 18px;
      font-weight: 600;
      background-color: $white;

      @include tablet-upwards {
        margin: -1.75rem 0 1rem 1rem;
      }
    }
  }

  p {
    margin: 0 0 0.5rem 0;
    font-weight: bold;
    text-transform: uppercase;
    color: $darkBlue;

    @include tablet-upwards {
      font-size: 16px;
    }
  }

  .location_img {
    // display: block;
    // width: 100%;
    // max-width: 20rem;
  }
}
