@import "./colors";
@import "./mixins";

.mission {
  background: $lighBlue;
}

.mission__ {
  padding: 1rem;

  @include tablet-upwards {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;
    justify-content: space-between;
  }

  & > div {
    color: $white;

    h5 {
      font-size: 18px;
    }
  }
}
