@import "./colors";
@import "./mixins";

.mission {
  background: $lighBlue;
}

.mission__ {
  padding: 1rem;

  @include tablet-upwards {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  ._vision {
    @include tablet-upwards {
    }
  }

  hr {
    background-color: $white;

    @include tablet-upwards {
      width: 10rem;
      transform: rotate(90deg);
    }
  }

  & > div {
    h5 {
      font-size: 18px;
      color: $white;
    }

    p {
      color: $white;
    }
  }
}
