@import "./colors";
@import "./mixins";

nav {
  .navbar-toggler {
    i {
      color: $white;
    }
  }

  #logo_navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    img {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 4px 0 0;
    }

    p {
      width: fit-content;
      display: flex;
      flex-direction: column;

      & :nth-child(1) {
        text-transform: capitalize;
        font-size: 18px;
        color: $lighBlue;
      }

      & :nth-child(2) {
        color: $textColor;
      }

      span {
        margin: 0;
        padding: 0;
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

  .navbar-nav {
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 0.5rem;

    .nav-item {
      .nav-link {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: $black;
      }
    }
  }
}

#banner .navbar-nav li.active > a {
  color: $lighBlue;
}
