@import "./colors";
@import "./mixins";

nav {
  align-items: center;
  padding: 8px 0 !important;

  .navbar-toggler {
    padding-right: 0 !important;
    i {
      color: $white;
    }
  }

  #logo_navbar {
    display: flex;
    line-height: 0;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;

    img {
      width: 3rem;
      height: 3rem;
      margin-bottom: 4px;
      padding: 0;

      @include tablet-upwards {
        width: 3.75rem;
        height: 3.75rem;
      }
    }

    p {
      all: unset;
      width: fit-content;
      display: flex;
      flex-direction: column;
      margin-bottom: 4px;

      .blucon {
        text-transform: capitalize;
        font-size: 20px;
        font-weight: bold;
        color: $lighBlue;
      }

      & :nth-child(2) {
        color: $textColor;
        text-transform: uppercase;
        font-size: 10px;
      }

      span {
        line-height: 1;
        margin: 0;
        padding: 0;
      }
    }
  }

  .navbar-nav {
    background-color: rgba(255, 255, 255, 0.85);
    @include phone-only {
      margin-top: 8px;
    }

    .nav-item {
      .nav-link {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: $black;
      }
    }
  }
}

// active link color
#banner .navbar-nav li.active > a {
  color: $lighBlue;
}
