@import "./colors";
@import "./mixins";

#services {
  margin-top: 3rem;

  .head {
    margin-bottom: 2rem;

    hr {
      border-width: 2px;
    }

    h3 {
      width: fit-content;
      padding: 0 0.5rem;
      margin: -1.75rem auto 0.5rem auto;
      font-size: 18px;
      font-weight: 600;
      background-color: $white;

      @include tablet-upwards {
        margin: -1.75rem 0 0.5rem 1rem;
      }
    }

    h4 {
      margin: 0 0 1rem 0;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .content {
    @include tablet-upwards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start !important;
    }

    @include desktop {
      gap: 1rem;
      padding: 0;
      justify-content: flex-start !important;
    }

    & > div {
      @include tablet-upwards {
        width: 16.25rem;
        height: 24rem;
        margin: 0.5rem;
        padding: 0.5rem;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 0.5rem;
      background-color: $white;
      box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.05);
      border-radius: 16px;

      img {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        width: 76px;
        height: 76px;
        object-fit: cover;
        border-radius: 6px;

        @include tablet-upwards {
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }
      }

      h5 {
        width: 100%;
        margin: 8px 0 10px 0;
        font-size: 18px;
        font-weight: 600;
        text-align: center;

        @include tablet-upwards {
          font-size: 18px;
        }
      }

      p {
        text-align: center;
        color: $textColor;

        @include tablet-upwards {
          font-size: 14px;
          text-align: left;
        }
      }
    }
  }
}
