@import "./colors";

#team {
  margin: 2rem 0 0 0;
  padding: 0 1rem;

  .head {
    margin: 1rem 0 4rem 0;

    hr {
      border-width: 2px;
    }

    h3 {
      width: fit-content;
      padding: 0 0.5rem;
      margin: -1.75rem auto 0.5rem auto;
      font-size: 18px;
      font-weight: 600;
      background-color: $white;
    }
  }

  .team_wrapper {
    padding: 4rem 0 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    & > div {
      min-width: 20rem;
      padding: 0 1rem;
      margin: 0 1.25rem;
      background: #f7f7f7;
      box-shadow: 0px 4px 8px 6px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;

      #img {
        width: 12rem;
        height: 12rem;
        margin: -4rem 0 0 0;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
          border: 10px solid $white;
          border-radius: 50%;
        }
      }

      h5 {
        margin: 12px 0 0 0;
        font-size: 18px;
        font-weight: 600;
      }

      h6 {
        margin: 0.5rem 0 0 0;
        font-size: 14px;
        color: $darkBlue;
        text-align: center;
      }

      p {
        margin: 14px 0 0 0;
        color: $textColor;
      }
    }

    ::-webkit-scrollbar {
      display: none;
    }
  }
}
