@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import "./nav";
@import "./banner";
@import "./about";
@import "./mission";
@import "./services";
@import "./team";
@import "./partners";
@import "./training";
@import "./location";
@import "./footer";
@import "./mixins";

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;

    @include phone-only {
        font-size: 14px;
    }
}

::-webkit-scrollbar {
    display: none;
}

.body-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

section {
    margin-bottom: 1.5rem;

    .head {
        margin-bottom: 12px;

        @include tablet-upwards {
            margin-bottom: 1.75rem;
        }
    }

    @include tablet-upwards {
        margin-bottom: 3rem;
    }
}
