@import url("https://fonts.googleapis.com/css2?family=Poppins");
nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0 !important;
}

nav .navbar-toggler {
  padding-right: 0 !important;
}

nav .navbar-toggler i {
  color: #ffffff;
}

nav #logo_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 0;
  margin: 0;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav #logo_navbar img {
  width: 3rem;
  height: 3rem;
  margin-bottom: 4px;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  nav #logo_navbar img {
    width: 3.75rem;
    height: 3.75rem;
  }
}

nav #logo_navbar p {
  all: unset;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4px;
}

nav #logo_navbar p .blucon {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
  color: #199bf1;
}

nav #logo_navbar p :nth-child(2) {
  color: #014a7d;
  text-transform: uppercase;
  font-size: 10px;
}

nav #logo_navbar p span {
  line-height: 1;
  margin: 0;
  padding: 0;
}

nav .navbar-nav {
  background-color: rgba(255, 255, 255, 0.85);
}

@media (max-width: 599px) {
  nav .navbar-nav {
    margin-top: 8px;
  }
}

nav .navbar-nav .nav-item .nav-link {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}

#banner .navbar-nav li.active > a {
  color: #199bf1;
}

#banner {
  width: 100%;
  height: 100vh;
  background-image: url("../img/diamond-from-coal.webp");
  background-size: cover;
  background-position: 25% center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  #banner {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-image: none;
  }
}

@media only screen and (min-width: 768px) {
  #banner #topheader nav #logo_navbar img {
    width: 4rem;
    height: 4rem;
  }
}

@media only screen and (min-width: 768px) {
  #banner #topheader nav .navbar-nav {
    background-color: #ffffff;
  }
}

@media only screen and (min-width: 768px) {
  #banner #topheader nav .navbar-nav .nav-item .nav-link {
    color: #000000;
  }
}

#banner .jumbotron {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 8rem;
  background-color: transparent;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  position: relative;
}

@media only screen and (max-width: 767px) {
  #banner .jumbotron {
    height: 50vh;
  }
}

@media only screen and (min-width: 1024px) {
  #banner .jumbotron {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#banner .jumbotron .landing {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #ffffff;
}

@media only screen and (min-width: 1024px) {
  #banner .jumbotron .landing {
    margin-left: 4px;
  }
}

#banner .jumbotron .landing .title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  #banner .jumbotron .landing .title {
    color: #000000;
  }
}

#banner .jumbotron .landing .content {
  font-size: 0.875rem;
}

@media only screen and (min-width: 768px) {
  #banner .jumbotron .landing .content {
    color: #8c8c8c;
  }
}

#banner .jumbotron #hero-image {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

@media only screen and (min-width: 768px) {
  #banner .jumbotron #hero-image {
    display: block;
  }
}

#banner .jumbotron #hero-image:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#banner .jumbotron #hero-image .nb-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
}

@media only screen and (min-width: 768px) {
  #banner .jumbotron #hero-image .nb-image {
    display: block;
    border-radius: 50%;
  }
}

#about #container .head hr {
  border-width: 2px;
}

#about #container .head h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 4px;
  margin: -1.75rem auto 0.5rem auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #ffffff;
}

@media only screen and (min-width: 768px) {
  #about #container .head h3 {
    margin: -1.75rem 0 1rem 1rem;
  }
}

#about #container .head h4 {
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  #about #container .head h4 {
    font-size: 1.25rem;
    font-weight: bolder;
  }
}

#about #container #abt {
  position: relative;
}

@media only screen and (min-width: 768px) {
  #about #container #abt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0.5rem;
  }
}

#about #container #abt .abt-image {
  margin: 0 0 10px 0;
}

@media only screen and (min-width: 768px) {
  #about #container #abt .abt-image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 599px) {
  #about #container #abt .abt-image {
    position: relative;
    width: 100vw;
    left: -1rem;
  }
}

#about #container #abt .abt-image img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 75%;
     object-position: 75%;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  #about #container #abt .us {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

#about #container #abt .us p {
  margin: 0;
  margin-bottom: 1rem;
  color: #8c8c8c;
}

.mission {
  background: #199bf1;
}

.mission__ {
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  .mission__ {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1.25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.mission__ > div {
  color: #ffffff;
}

.mission__ > div h5 {
  font-size: 18px;
}

#services .head hr {
  border-width: 2px;
}

#services .head h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5rem;
  margin: -1.75rem auto 0.5rem auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #ffffff;
}

@media only screen and (min-width: 768px) {
  #services .head h3 {
    margin: -1.75rem 0 0.5rem 1rem;
  }
}

#services .head h4 {
  margin: 0 0 1rem 0;
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  #services .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
}

@media only screen and (min-width: 1024px) {
  #services .content {
    gap: 1rem;
    padding: 0;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
}

#services .content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

@media only screen and (min-width: 768px) {
  #services .content > div {
    width: 16.25rem;
    height: 30.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
  }
}

#services .content > div img {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 5rem;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

@media only screen and (min-width: 768px) {
  #services .content > div img {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

#services .content > div h5 {
  width: 100%;
  margin: 8px 0 10px 0;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #services .content > div h5 {
    font-size: 18px;
  }
}

#services .content > div p {
  text-align: center;
  color: #8c8c8c;
}

@media only screen and (min-width: 768px) {
  #services .content > div p {
    font-size: 14px;
    text-align: left;
  }
}

#team .head hr {
  border-width: 2px;
}

#team .head h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5rem;
  margin: -1.75rem auto 0.5rem auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #ffffff;
}

@media only screen and (min-width: 768px) {
  #team .head h3 {
    margin: -1.75rem 0 0.5rem 1rem;
  }
}

#team .team_wrapper {
  padding-right: 0.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: auto;
}

#team .team_wrapper > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 20rem;
  padding: 0 1rem;
  margin: 0 1.25rem;
  background: #f7f7f7;
  -webkit-box-shadow: 0px 4px 8px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 8px 6px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1024px) {
  #team .team_wrapper > div {
    min-width: unset;
  }
}

#team .team_wrapper > div #img {
  width: 12rem;
  height: 12rem;
  margin: -4rem 0 0 0;
  border-radius: 50%;
}

#team .team_wrapper > div #img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 10px solid #ffffff;
  border-radius: 50%;
}

#team .team_wrapper > div h5 {
  margin: 12px 0 0 0;
  font-size: 18px;
  font-weight: 600;
}

#team .team_wrapper > div h6 {
  margin: 0.5rem 0 0 0;
  font-size: 14px;
  color: #014a7d;
  text-align: center;
}

#team .team_wrapper > div p {
  margin: 14px 0 0 0;
  color: #8c8c8c;
}

#team .team_wrapper ::-webkit-scrollbar {
  display: none;
}

#partners .head hr {
  border-width: 2px;
}

#partners .head h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5rem;
  margin: -1.75rem auto 0.5rem auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #ffffff;
}

@media only screen and (min-width: 768px) {
  #partners .head h3 {
    margin-top: -1.75rem;
    margin-left: 1rem;
  }
}

#partners .partners_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  gap: 2rem;
}

#partners .partners_wrapper > div img {
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  #partners .partners_wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#training {
  padding: 0 1rem;
}

#training .head hr {
  border-width: 2px;
}

#training .head h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5rem;
  margin: -1.75rem auto 0.5rem auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #ffffff;
}

@media only screen and (min-width: 768px) {
  #training .head h3 {
    margin: -1.75rem 0 0.5rem 1rem;
  }
}

#training .top .img_train {
  width: 100%;
}

#training .top h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #training .top h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

#training .top p {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #training .top p {
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  .location .head {
    margin-bottom: 1.75rem;
  }
}

.location .head hr {
  border-width: 2px;
}

.location .head h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 4px;
  margin: -1.75rem auto 0.5rem auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .location .head h3 {
    margin: -1.75rem 0 1rem 1rem;
  }
}

.location p {
  margin: 0 0 0.5rem 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #014a7d;
}

@media only screen and (min-width: 768px) {
  .location p {
    font-size: 16px;
  }
}

#contact {
  margin-bottom: 0;
  padding: 1rem 0;
  background-color: #014a7d;
  color: #ffffff;
}

#contact .head hr {
  border-width: 2px;
  background-color: #199bf1;
}

#contact .head h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 8px;
  margin: -1.75rem auto 0.5rem auto;
  font-size: 18px;
  font-weight: 500;
  background-color: #014a7d;
}

@media only screen and (min-width: 768px) {
  #contact .head h3 {
    margin: -1.75rem 0 0.5rem 1rem;
  }
}

#contact .tel_container {
  margin: 1rem 0 0 0;
}

@media only screen and (min-width: 768px) {
  #contact .tel_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) {
  #contact .tel_container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#contact .tel_container .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

@media only screen and (min-width: 768px) {
  #contact .tel_container .tel {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    font-size: 1rem;
  }
}

#contact .tel_container .tel a {
  text-decoration: none;
}

#contact .tel_container .tel .mail {
  color: #ffffff;
}

#contact .tel_container .tel .phone {
  padding: 0.5rem 3rem;
  margin: 1rem 0;
  background-color: #ffffff;
  color: #014a7d;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  #contact .tel_container .tel .phone {
    padding: 0.25rem 2.5rem;
    font-weight: 500;
  }
}

@media only screen and (min-width: 1024px) {
  #contact .tel_container .tel .phone {
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
  }
  #contact .tel_container .tel .phone:hover {
    background-color: #199bf1;
    color: #ffffff;
  }
}

#contact .tel_container .tel p {
  font-weight: normal;
}

#contact .tel_container .tel p i {
  margin: 0 0.5rem 0 0;
}

@media only screen and (min-width: 1024px) {
  #contact ._copy {
    margin: 0 0 0 8rem;
  }
}

#contact ._copy #logo_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  #contact ._copy #logo_footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

#contact ._copy #logo_footer img {
  width: 7.5rem;
  height: 7.5rem;
}

@media only screen and (min-width: 768px) {
  #contact ._copy #logo_footer img {
    margin-right: 4px;
  }
}

#contact ._copy #logo_footer p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  #contact ._copy #logo_footer p {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 0 0 1rem;
  }
}

#contact ._copy #logo_footer p span {
  font-size: 14px;
  text-transform: uppercase;
}

#contact ._copy #logo_footer p :nth-child(1) {
  text-transform: capitalize;
  font-size: 24px;
  color: #199bf1;
}

@media only screen and (min-width: 1024px) {
  #contact ._copy #logo_footer p :nth-child(1) {
    font-weight: 600;
    font-size: 1.25rem;
  }
}

#contact ._copy #logo_footer p :nth-child(2) {
  color: #ffffff;
}

#contact ._copy .copy {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #contact ._copy .copy {
    margin: 1.25rem 0 0 0;
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {
  #contact ._copy .copy {
    font-size: 14px;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 599px) {
  body {
    font-size: 14px;
  }
}

::-webkit-scrollbar {
  display: none;
}

.body-container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

section {
  margin-bottom: 1.5rem;
}

section .head {
  margin-bottom: 12px;
}

@media only screen and (min-width: 768px) {
  section .head {
    margin-bottom: 1.75rem;
  }
}

@media only screen and (min-width: 768px) {
  section {
    margin-bottom: 3rem;
  }
}
/*# sourceMappingURL=main.css.map */