@import url("https://fonts.googleapis.com/css2?family=Poppins");
nav {
  background-image: url("../img/handshake.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

nav .navbar-toggler i {
  color: #ffffff;
}

nav #logo_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

nav #logo_navbar img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 4px 0 0;
}

nav #logo_navbar p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav #logo_navbar p :nth-child(1) {
  text-transform: capitalize;
  font-size: 18px;
  color: #199bf1;
}

nav #logo_navbar p :nth-child(2) {
  color: #8c8c8c;
}

nav #logo_navbar p span {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

nav .navbar-nav {
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 0.5rem;
}

nav .navbar-nav .nav-item .nav-link {
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  color: #000000;
}

#topheader .navbar-nav li.active > a {
  color: #199bf1;
}

#banner {
  width: 100%;
  height: 100vh;
  background-image: url("../img/handshake.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#banner .jumbotron {
  margin: 0 0 1rem 0;
  padding: 0 2rem;
  background-color: transparent;
  border-radius: 0;
}

#banner .jumbotron #container .landing {
  margin: 4rem 0 0 0;
}

#banner .jumbotron #container .landing h2 {
  font-weight: bold;
  color: #ffffff;
}

#banner .jumbotron #container .landing p {
  color: #ffffff;
}

#banner .jumbotron #container #text #buttons {
  margin: 2rem 0 0 0;
}

#banner .jumbotron #container #text #buttons a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

#banner .jumbotron #container #text #buttons :nth-child(1) {
  background-color: #199bf1;
  border: 1px solid #199bf1;
  color: #ffffff;
}

#banner .jumbotron #container #text #buttons :nth-child(2) {
  margin-left: 1rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

#banner .nb-image {
  display: none;
}

#about #container {
  padding: 0 1rem;
}

#about #container #row1 .head {
  margin: 2rem 0 1rem 0;
}

#about #container #row1 .head hr {
  border-width: 2px;
}

#about #container #row1 .head h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 4px;
  margin: -1.75rem auto 0.5rem auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #ffffff;
}

#about #container #row1 .head h4 {
  font-size: 16px;
  font-weight: 600;
}

#about #container .abt-image {
  width: 100%;
}

#about #container .abt-image img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 0 10px 0;
}

#about #container .us p {
  margin: 0 0 1rem 0;
  color: #8c8c8c;
}

#about .location {
  margin: 0.5rem 0 1rem 0;
}

#about .location p {
  margin: 0 0 0.5rem 0;
  padding: 0 0 0 1rem;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #014a7d;
}

#about .location img {
  display: block;
  width: 16rem;
  margin: 0 auto 0 auto;
}

.mission {
  margin: 1rem 0;
  padding: 1.25rem 1rem 0.25rem 1rem;
  background: #199bf1;
}

.mission hr {
  background-color: #ffffff;
}

.mission > div h5 {
  font-size: 18px;
  color: #ffffff;
}

.mission > div p {
  color: #ffffff;
}

#services {
  margin: 3rem 0 0 0;
}

#services .head {
  margin: 0 0 2rem 0;
  padding: 0 1rem;
}

#services .head hr {
  border-width: 2px;
}

#services .head h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5rem;
  margin: -1.75rem auto 0.5rem auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #ffffff;
}

#services .head h4 {
  margin: 0 0 1rem 0;
  font-size: 16px;
  font-weight: 600;
}

#services .content {
  padding: 0 2rem;
}

#services .content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

#services .content > div img {
  margin: 1rem 0 0.5rem 0;
  width: 50%;
  border-radius: 6px;
}

#services .content > div i {
  margin: 1rem 0 0.5rem 0;
  font-size: 2rem;
  -webkit-columns: #199bf1;
          columns: #199bf1;
}

#services .content > div h5 {
  width: 100%;
  margin: 8px 0 10px 0;
  font-size: 18px;
  text-align: center;
}

#services .content > div p {
  text-align: center;
  color: #8c8c8c;
}

#team {
  margin: 2rem 0 0 0;
  padding: 0 1rem;
}

#team .head {
  margin: 1rem 0 0 0;
}

#team .head hr {
  border-width: 2px;
}

#team .head h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5rem;
  margin: -1.75rem auto 0.5rem auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #ffffff;
}

#team .team_wrapper {
  padding: 4rem 0 1rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: auto;
}

#team .team_wrapper > div {
  min-width: 20rem;
  padding: 0 1rem;
  margin: 0 1.25rem;
  background: #f7f7f7;
  -webkit-box-shadow: 0px 4px 8px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 8px 6px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#team .team_wrapper > div #img {
  width: 12rem;
  height: 12rem;
  margin: -4rem 0 0 0;
  border-radius: 50%;
}

#team .team_wrapper > div #img img {
  width: 100%;
  height: 100%;
  border: 10px solid #ffffff;
  border-radius: 50%;
}

#team .team_wrapper > div h5 {
  margin: 12px 0 0 0;
  font-size: 18px;
  font-weight: 600;
}

#team .team_wrapper > div h6 {
  margin: 0.5rem 0 0 0;
  font-size: 14px;
  color: #014a7d;
  text-align: center;
}

#team .team_wrapper > div p {
  margin: 14px 0 0 0;
  color: #8c8c8c;
}

#team .team_wrapper ::-webkit-scrollbar {
  display: none;
}

#partners {
  padding: 1rem;
}

#partners .head hr {
  border-width: 2px;
}

#partners .head h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5rem;
  margin: -1.75rem auto 0.5rem auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #ffffff;
}

#partners .partners_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  gap: 2rem;
}

#partners .partners_wrapper > div img {
  max-width: 100%;
}

#training {
  padding: 0 1rem;
}

#training .top h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

#training .top p {
  text-align: center;
}

#training #training_wrapper {
  margin-top: 1rem 0;
}

#training #training_wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#training #training_wrapper > div p {
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

#training #training_wrapper > div img {
  width: 20%;
  border-radius: 0.5rem;
}

#training #training_wrapper :last-child,
#training #training_wrapper :nth-child(6) {
  margin: 0 0 1rem 0;
}

#training #training_wrapper :last-child img,
#training #training_wrapper :nth-child(6) img {
  width: 50%;
}

#contact {
  margin: 2rem 0 0 0;
  padding: 1rem 0;
  background-color: #014a7d;
  color: #ffffff;
}

#contact .head {
  margin: 1rem 0 0 0;
  padding: 0 1rem;
}

#contact .head hr {
  border-width: 2px;
  background-color: #199bf1;
}

#contact .head h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 8px;
  margin: -1.75rem auto 0.5rem auto;
  font-size: 18px;
  font-weight: 500;
  background-color: #014a7d;
}

#contact .tel_container {
  margin: 1rem 0 0 0;
}

#contact .tel_container .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .tel_container .tel a {
  text-decoration: none;
}

#contact .tel_container .tel .mail {
  color: #ffffff;
}

#contact .tel_container .tel .phone {
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  background-color: #ffffff;
  color: #014a7d;
  font-weight: 600;
}

#contact .tel_container .tel p {
  font-weight: normal;
}

#contact .tel_container .tel p i {
  margin: 0 0.5rem 0 0;
}

#contact ._copy #logo_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

#contact ._copy #logo_footer img {
  width: 7.5rem;
  height: 7.5rem;
  margin: 0 4px 0 0;
}

#contact ._copy #logo_footer p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact ._copy #logo_footer p span {
  font-size: 14px;
  text-transform: uppercase;
}

#contact ._copy #logo_footer p :nth-child(1) {
  text-transform: capitalize;
  font-size: 24px;
  color: #199bf1;
}

#contact ._copy #logo_footer p :nth-child(2) {
  color: #ffffff;
}

#contact ._copy .copy {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #about,
  #services,
  #team,
  #partners,
  #training {
    padding: 0.5rem 4rem;
  }
  nav {
    background-image: none;
    margin: 0 3.5rem;
  }
  nav #logo_navbar img {
    width: 4rem;
    height: 4rem;
  }
  nav .navbar-nav {
    background-color: #ffffff;
  }
  nav .navbar-nav .nav-item .nav-link {
    color: #000000;
  }
  #banner {
    background-image: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #banner .jumbotron #container #text .landing h2,
  #banner .jumbotron #container #text .landing p {
    color: #000000;
  }
  #banner .jumbotron #container #text #buttons a {
    padding: 0.5rem;
  }
  #banner .jumbotron #container #text #buttons :nth-child(2) {
    background: #ffffff;
    color: #199bf1;
    border-color: #199bf1;
  }
  #banner .nb-image {
    display: block;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
  }
  #about #container #row1 .head {
    margin: 0 0 1rem 0;
  }
  #about #container #row1 .head h3 {
    margin: -1.75rem 0 1rem 1rem;
  }
  #about #container #row1 .head h4 {
    font-size: 1.25rem;
    font-weight: bolder;
  }
  #about #container #abt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0.5rem;
  }
  #about #container #abt .abt-image img {
    width: 13em;
  }
  #about #container #abt .us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0.25rem;
  }
  #about #container #abt .us p {
    margin: 0;
  }
  #about .location {
    margin: 2rem 0 0 0;
  }
  #about .location p {
    font-size: 16px;
    text-align: center;
  }
  .mission {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mission ._vision {
    margin: 0 0 0 4rem;
  }
  .mission ._mision {
    margin: 0 4rem 0 0;
  }
  .mission hr {
    width: 10rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #services .head h3 {
    margin: -1.75rem 0 0.5rem 1rem;
  }
  #services .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #services .content > div {
    width: 16.25rem;
    height: 24rem;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  #services .content > div img {
    margin: 0.5rem 0;
  }
  #services .content > div h5 {
    font-size: 18px;
  }
  #services .content > div p {
    font-size: 14px;
    text-align: left;
  }
  #team .head h3 {
    margin: -1.75rem 0 0.5rem 1rem;
  }
  #partners .head h3 {
    margin: -1.75rem 0 0.5rem 1rem;
  }
  #partners .partners_wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #training .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #training .top p {
    text-align: left;
  }
  #training #training_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #training #training_wrapper > div {
    width: 12rem;
    margin: 0 0.5rem;
  }
  #training #training_wrapper > div img {
    width: 50%;
  }
  #training #training_wrapper :last-child,
  #training #training_wrapper :nth-child(6) {
    margin: 0 0 1rem 0;
  }
  #training #training_wrapper :last-child img,
  #training #training_wrapper :nth-child(6) img {
    width: 80%;
  }
  #contact .head {
    margin: 0 3rem;
  }
  #contact .head h3 {
    margin: -1.75rem 0 0.5rem 1rem;
  }
  #contact .tel_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 4rem;
  }
  #contact .tel_container .tel {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #contact .tel_container ._copy #logo_footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #contact .tel_container ._copy #logo_footer p {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 0 0 1rem;
  }
  #contact .tel_container .copy {
    margin: 1.25rem 0 0 0;
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {
  nav .navbar-nav {
    background-color: #ffffff;
  }
  #banner {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #banner .jumbotron #container #text #buttons :nth-child(2) {
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
  }
  #banner .jumbotron #container #text #buttons :nth-child(2):hover {
    border-color: #014a7d;
    background: #014a7d;
    color: #ffffff;
  }
  #banner .nb-image {
    width: 24rem;
    height: 24rem;
  }
  #about #container #abt {
    gap: 1rem;
  }
  #about #container #abt .abt-image {
    min-width: 20vw;
  }
  #about #container #abt .abt-image img {
    min-width: 100%;
  }
  .mission {
    margin: 3rem 0;
  }
  #services .content {
    gap: 1rem;
    padding: 0;
  }
  #training .top h3 {
    font-size: 18px;
  }
  #contact .tel .phone {
    padding: 0.25rem 2.5rem;
  }
  #contact .tel_container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #contact .tel_container .tel {
    font-size: 1rem;
  }
  #contact .tel_container .tel .phone {
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
  }
  #contact .tel_container .tel .phone:hover {
    background-color: #199bf1;
    color: #ffffff;
  }
  #contact .tel_container ._copy {
    margin: 0 0 0 8rem;
  }
  #contact .tel_container ._copy #logo_footer p :nth-child(1) {
    font-weight: 600;
    font-size: 1.25rem;
  }
  #contact .tel_container ._copy #logo_footer p :nth-child(2) {
    font-size: 12px;
  }
  #contact .tel_container ._copy p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1300px) {
  #about,
  #services,
  #team,
  #partners,
  #training {
    padding: 1rem 10rem;
  }
  nav {
    margin: 0 10rem;
  }
  #banner {
    margin: 0 10rem;
    gap: 4rem;
  }
  #banner .jumbotron #container #text #buttons a {
    padding: 0.5rem 3rem;
  }
  #banner .nb-image {
    width: 32rem;
    height: 32rem;
  }
  .mission {
    padding: 1rem 6.5rem;
  }
  #contact .tel_container {
    padding: 0 6rem;
  }
  #contact .tel_container .tel .phone {
    font-weight: 500;
  }
  #contact .head {
    padding: 0 7rem;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=main.css.map */